<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clx.quiz.mapper.PracticeDetailMapper">

    <resultMap id="PracticeDetailResultMap" type="com.clx.quiz.entity.PracticeDetail">
        <id column="id" property="id"/>
        <result column="practice_id" property="practiceId"/>
        <result column="subject_id" property="subjectId"/>
        <result column="subject_type" property="subjectType"/>
        <result column="answer_content" property="answerContent"/>
        <result column="is_correct" property="isCorrect"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO practice_detail (practice_id, subject_id, subject_type, created_by)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.practiceId}, #{item.subjectId}, #{item.subjectType}, #{item.createdBy})
        </foreach>
    </insert>

    <update id="update">
        UPDATE practice_detail
        SET answer_content = #{answerContent},
            is_correct = #{isCorrect},
            update_by = #{updateBy}
        WHERE id = #{id}
    </update>

    <select id="selectByPracticeId" resultMap="PracticeDetailResultMap">
        SELECT * FROM practice_detail
        WHERE practice_id = #{practiceId} AND is_deleted = 0
        ORDER BY id
    </select>

    <select id="selectByPracticeIdAndSubjectId" resultMap="PracticeDetailResultMap">
        SELECT * FROM practice_detail
        WHERE practice_id = #{practiceId}
        AND subject_id = #{subjectId}
        AND is_deleted = 0
    </select>

</mapper>